<form class="navbar-form navbar-left full-width" role="search" action="/Product/Search">
    <div class="input-group input-group-lg">
        <input type="text" id="search" name="keywords" class="form-control" placeholder="Tìm kiếm" />
        <span class="input-group-btn">
            <button class="btn btn-default card-btn" type="submit"><span class="glyphicon glyphicon-search"></span></button>
        </span>
    </div>
</form>