body {
}
/* Common*/
.mg-auto {
    width: auto;
    margin-right: auto;
    margin-left: auto;
}

.txt-capitalize {
    text-transform: capitalize !important;
}

/* Product Card*/

.card-product-link:hover {
    text-decoration:none;
}


.product-card:hover{
    cursor: pointer;
}

.product-card:hover .card-img {
    transform: scale(1.1);
    opacity: .7;
    transition: all linear 100ms;
}

.card-img-box{
    overflow:hidden;
    padding: 10px;
    width: 100%;
    height: 200px;
}

.card-img{
    width: 100%;
    height: 100%;
}


.product-name {
    font-size: 1.7rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.product-name:hover {
    color: #877b7b;
    transition: color linear 100ms;
}
.product-name:hover {
    text-decoration: none;
}

.txt-price {
    font-size: 2rem;
    font-weight:bold;
    color: #ed6f6f;
}

.actions {
    padding-top: 10px;
    display:flex;
    padding-left: calc(50% - 10px);
    transform:translateX(-25%);
}

.card-btn {
    width: 100%;
    color: white;
}

/*  Category tags*/
.cat-title a{
    display: block; 
    color: white;
    width: 100%;
}

.cat-title{
    font-size: 2.5rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.cat-title:hover a{
    color: #d6e9e7;
    text-decoration: none;
    transition: all linear 100ms;
}
.tag {
    padding-left: 10px;
    margin-bottom: 10px;
    background-color: #ed6f6f;
    font-weight: bold;
    margin-left: 4px;
    clip-path: polygon(85% 0, 100% 50%, 85% 100%, 0 100%, 0 0);
    width: 30rem;
    height: 5rem;
}


/* Footer */
.footer {
    text-align:center;
    font-weight: bold;
    font-size: 1.5rem;
}


/* Responsive*/
@media screen and (max-width: 1181px) {
    .card-img-box {
        height: 300px;
    }
}


@media screen and (max-width: 992px) {
    .card-img-box {
        height:100%;
    }
}

@media screen and (max-width: 768px) {
    .cat-title {
        font-size: 2rem;
    }
    .tag {
        height: 4rem;
    }
    .product-card{
        width: 400px;
        margin: auto;
    }
}