body {
}

html {
   scroll-behavior: smooth;
}

/* Common*/
.full-width {
    width:100% !important;
}

.mg-auto {
    width: auto;
    margin-right: auto;
    margin-left: auto;
}

.txt-capitalize {
    text-transform: capitalize !important;
}

/* Header */
.dropdown-menu li {
    height: 40px !important;
    transition: all linear 100ms;
}

.dropdown-menu > li > a {
    transition: all linear 100ms;
    display: block;
    width: 100%;
    line-height: 40px !important;
}
.dropdown-menu li:hover{
    background: #ed6f6f;
    transition: all linear 100ms;
}

.dropdown-menu li:hover a{
    transition: all linear 100ms;
    color: white !important;
}

.cart-btn {
    font-weight: bold;
    border-radius: 5px;
    background-color: white;
    outline: 2px #ed6f6f solid;
    width: 100px;
    transition: all linear 100ms;
    float: right;
}

.cart-btn a {
    color: black;
    font-size: 1.5rem;
    transition: all linear 100ms;
    display:block;
    width: 100%;
    line-height: 1.5;
}

.cart-btn:hover {
    transition: all linear 100ms;
    transform: scale(1.1);
}

.cart-btn:hover a{
    color: rgba(237, 111, 111, 0.80);
    transition: all linear 100ms;

}
/* Product Card*/

.card-product-link:hover {
    text-decoration:none;
}


.product-card:hover{
    cursor: pointer;
}

.product-card:hover .card-img {
    transform: scale(1.1);
    opacity: .7;
    transition: all linear 100ms;
}

.card-img-box{
    overflow:hidden;
    padding: 10px;
    width: 100%;
    height: 200px;
}

.card-img{
    transition: all linear 100ms;
    width: 100%;
    height: 100%;
}


.product-name {
    font-size: 1.7rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical; /*hướng của dòng chữ theo chiều: dọc*/
    -webkit-line-clamp: 1; /*giới hạn số dòng*/
    overflow: hidden;
}

.product-name:hover {
    color: #877b7b;
    transition: color linear 100ms;
}
.product-name:hover {
    text-decoration: none;
}

.txt-price {
    font-size: 2rem;
    font-weight:bold;
    color: #ed6f6f;
}

.actions {
    justify-content:center;
    padding-top: 10px;
    display:flex;
    align-items: center;
}

.card-btn {
    width: 30%;
    transition: all linear 100ms;
    color: white;
}

.search, .detail-btn {
    width: 100%;
    transition: all linear 100ms;
    color: white;
}

.card-btn:hover {
    transition: all linear 100ms;
}

/*  Category tags*/
.cat-title a{
    display: block; 
    color: white;
    width: 100%;
}

.cat-title{
    font-size: 2.5rem;
    line-height: 50px;
}
.cat-title:hover a{
    color: #d6e9e7;
    text-decoration: none;
    transition: all linear 100ms;
}
.tag {
    padding-left: 10px;
    margin-bottom: 10px;
    background-color: #ed6f6f;
    font-weight: bold;
    margin-left: 4px;
    clip-path: polygon(85% 0, 100% 50%, 85% 100%, 0 100%, 0 0);
    width: 30rem;
    height: 5rem;
}


/* Footer */
.footer {
    text-align:center;
    font-weight: bold;
    font-size: 1.5rem;
}
/*---------------------*/

/* Slider*/
.slides {
    width: 100%;
    height: 500px;
    overflow-x: hidden;
    position: relative;
}

.slide {
    position: absolute;
    width: 100%;
    transition: all linear 500ms;
    height: 100%;
}

.slide img{
    width: 100%;
    height: 100%;
}

/* Change slide button*/

.btn-slide {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 30px;
    height: 50px;
    opacity: .8;
    font-size: 2rem;
    border:none;
}

.slide-prev {
    border-radius: 0 5px 5px 0;
    left: 0;
    text-align: left;
}

.slide-next {
    border-radius: 5px 0 0 5px;
    text-align: right;
    right: 0;
}

/* dots */
.dots {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.dots:hover {
    cursor: pointer;
}
.dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: .6;
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
}

.dot-active {
    opacity: 1;
}

.dot:hover {
    opacity: 1;
}

/* --------------------*/
/* Scroll to top Button*/
.to-top-btn {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #ed6f6f;
    border-radius: 50%;
    color: white;
    font-size: 2.3rem;
    font-weight: 700;
    transition: all linear .1s;
    opacity: 0;
    pointer-events: none;
    outline: none;
}

.to-top-btn.active {
    opacity: 1;
    bottom: 40px;
    pointer-events: auto;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/*---------------------*/
/* Responsive */
@media screen and (max-width: 1181px) {
    .card-img-box {
        height: 300px;
    }
}


@media screen and (max-width: 992px) {
    .card-img-box {
        height:100%;
    }
    
    .product-card {
        margin:0 auto;
        width: 80%;
    }
    .card-btn {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .cat-title {
        font-size: 2rem;
        line-height: 40px;
    }
    .tag {
        height: 4rem;
    }
    .product-card{
        width: 300px;
        margin: auto;
    }

    .navbar {
        top: 100px;
    }
    .content {
        margin-top: 100px;
    }

    .cart-btn {
        margin-left: auto;
        margin-right: auto;
        float: none;
        width: 50%;
    }

    .slides {
        height: 200px;
    }

    .dots {
        display: none;
    }
}